
/*NAVBAR CSS*/
#navbar {
	background: #765C3D !important;
}

#navbar li a {
	color: #F2D2AE;
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}


#landing {
	background: 
		linear-gradient(rgba(0,0,0,0.61), rgba(0,0,0,0.61)), url("./images/landing-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
}
#title {
	color: #FFF;
	font-family: Montserrat;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px; /* 112.5% */
	letter-spacing: -1.28px
}

#title-text {
	color: #FFF;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px; /* 125% */
	text-align: justify;
}

.album-bg {
	background: #FFF;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.gallery-header {
	color: #765C3D !important;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.gallery-text {
	color: #765C3D;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#footer {
	background: #B59066;
}

#contact {
	background: #FFF2E4;
}

#contact-form {
	color: #765C3D;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	/*layout*/
	display: flex;
	height: 49px;
	flex-direction: column;
}

.pic-overlay {
	background:linear-gradient(rgba(0, 0, 0, 0.59),rgba(0, 0, 0, 0.59)), url("./images/contact.png");
}
#base {
	/* layout */
	display: flex;
	padding: 12px 32px;
	justify-content: center;
	align-items: center;
	gap: 8px;

	/* style */
	border-radius: 999px;
	background: #B59066;

	/* text */
	color: var(--button-text-button-primary-text, #FFF);
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 120% */
}

.label-text {
	color: #B59066 !important;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}