@{
    ViewData["AwtoPiyesa"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Welcome to AwtoPiyesa!</h1>
</div>

<div class="text-center">
    <button class="btn btn-danger">
        <a class="nav-link text-light" asp-controller="Products" asp-action="Index">
            View Products
        </a>
    </button>
</div>
